In [ ]:
# to get mushrooms dataset use:
# wget -t inf https://www.csie.ntu.edu.tw/~cjlin/libsvmtools/datasets/binary/mushrooms

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [13]:
data_path = '/nmnt/x04-hdd/boris_temp/SGIMC_IMC/mushrooms/'
data = pd.read_csv(data_path + 'mushrooms', sep = ' ', header=None)
data.drop(labels=[data.columns[-1]], axis=1, inplace=True)

In [14]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,1,6:1,8:1,15:1,21:1,29:1,33:1,34:1,37:1,42:1,...,57:1,67:1,76:1,78:1,81:1,84:1,86:1,93:1,103:1,111:1
1,2,6:1,8:1,20:1,21:1,23:1,33:1,34:1,36:1,42:1,...,57:1,67:1,76:1,78:1,81:1,84:1,86:1,95:1,102:1,107:1
2,2,2:1,8:1,19:1,21:1,27:1,33:1,34:1,36:1,44:1,...,57:1,67:1,76:1,78:1,81:1,84:1,86:1,95:1,102:1,108:1
3,1,6:1,7:1,19:1,21:1,29:1,33:1,34:1,37:1,44:1,...,57:1,67:1,76:1,78:1,81:1,84:1,86:1,93:1,103:1,111:1
4,2,6:1,8:1,14:1,22:1,28:1,33:1,35:1,36:1,42:1,...,57:1,67:1,76:1,78:1,81:1,84:1,88:1,95:1,100:1,107:1

In [15]:
data_arr = data.as_matrix()
features_arr = data_arr[:,1:]
atr_arr = data_arr[:,0].astype(dtype='int32')

for i in range(features_arr.shape[0]):
    for j in range(features_arr.shape[1]):
        features_arr[i,j] = features_arr[i,j][:-2]
features_arr = features_arr.astype(dtype='int32')
features_ids = np.unique(features_arr)

R = np.zeros((len(data_arr), len(data_arr)))
X = np.zeros((len(data_arr), len(features_ids)))
Y = np.eye(len(data_arr))

# creating matrix for semi-supervised clustering
for i in range(len(atr_arr)):
    for j in range(len(atr_arr)):
        if atr_arr[i] == atr_arr[j]: R[i,j] = 1
        else: R[i,j] = -1
            
# creating matrix of features
for i, x in enumerate(features_arr):
    for feature in x:
        for j, f in enumerate(features_ids):
            if feature == f: X[i,j] = 1
                
# creating matrix of features
for i, x in enumerate(features_arr):
    for feature in x:
        for j, f in enumerate(features_ids):
            if feature == f: X[i,j] = 1

In [16]:
np.save(data_path + 'R.npy', R)
np.save(data_path + 'X.npy', X)
np.save(data_path + 'Y.npy', Y)